@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
	--jade: #00a878;
	--emerald: #00cc92;
	--white: #ffffff;
	--timberwolf: #d0d0d0;
	--eblack-20: #202020;
	--eblack-17: #101010;
	--font-logo: 'Ubuntu'
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-quaternary: var(--jade);
	--color-quinary: var(--emerald);
	--color-white: var(--white);
	--color-tertiary: var(--timberwolf);
	--color-secondary: var(--eblack-20);
	--color-primary: var(--eblack-17);
	--font-logo: var(--font-logo)
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}
.premium-text {
	font-size: 1rem;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 
	  0 0 5px #eed706, 
	  0 0 10px #e9e509, 
	  0 0 20px #eed706, 
	  0 0 40px #eed706, 
	  0 0 80px #eed706;
	animation: flicker 1.5s infinite alternate;
  }
  
  @keyframes flicker {
	0% {
	  text-shadow: 
		0 0 5px #1b6eec, 
		0 0 10px #00A878, 
		0 0 20px #1b98ec, 
		0 0 40px #00A878, 
		0 0 80px #1b1eec;
	}
	100% {
	  text-shadow: 
		0 0 5px #00A878, 
		0 0 10px #00A878, 
		0 0 30px #00A878, 
		0 0 60px #00A878, 
		0 0 120px rgb(197, 5, 117);
	}
  }
  .premium-text.chat{
	font-size:small;
  }
body {
	font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: var(--font-secondary);
   font-weight: 700;
}

.bleed {
	max-width: 1540px;
	margin: 0 auto;
	width: 100%;
 }
 

@layer components {

	.header-link {
		@apply  text-sm hover:opacity-70 cursor-pointer px-4;
	}

	.form-input {
		@apply w-full pl-9 pr-10 py-2 border border-tertiary rounded-lg focus:outline-none focus:border-quaternary focus:shadow-sm transition-all duration-200 ease-in-out placeholder-tertiary text-sm text-white;
	}

	.sidebar-icon {
		@apply w-6 h-6 text-tertiary  cursor-pointer;
	}

}
